<IfModule dir_module>
    DirectoryIndex index.php index.html
</IfModule>
AddDefaultCharset UTF-8
AddCharset UTF-8 .html
<FilesMatch "\.(html)$">
   Header set Cache-Control: "no-cache, no-store"
   Header unset ETag
</FilesMatch>
RedirectMatch 403 ^/vendor/.*$
RedirectMatch 403 ^/mycred.json
RedirectMatch 403 ^/composer.json
RedirectMatch 403 ^/composer.lock
RedirectMatch 403 ^/.gitignore
RedirectMatch 403 ^/.gitattributes
RedirectMatch 403 ^/script.js
Header set X-Content-Type-Options nosniff